<div style="width:150px; font-family: 'Gill Sans', Futura, Helvetica, sans-serif;">

  <div>
    <strong><a target="_blank" href="<%= @ad.link %>"><%= @ad.title %></a></strong>
  </div>

  <div style="padding-left: 5px;">
    <%= @ad.text %>
  </div>

  <div>
    <a target="_blank" href="<%= @ad.link %>"><%= @ad.link(:pretty) %></a>
  </div>

</div>
